version: "3.9"

services:
  server:
    build:
      context: ./server
    container_name: server
    ports:
      - "8000:8000"
    environment:
      JWT_SECRET: "supersecret"
      AUTHORIZED_MACS: "AA:BB:CC:00:01,AA:BB:CC:00:02,AA:BB:CC:00:03"
      AUTHORIZED_IPS: "172.28.0.2,172.28.0.3,172.28.0.4"
      DB_PATH: "/app/db.sqlite3"
    networks:
      infobez_net:
        ipv4_address: 172.28.0.10

  client1:
    build:
      context: ./client
    container_name: client1
    environment:
      CLIENT_ID: "client1"
      MAC_ADDRESS: "AA:BB:CC:00:01"
      CLIENT_IP: "172.28.0.2"
      SERVER_URL: "http://172.28.0.10:8000"
    networks:
      infobez_net:
        ipv4_address: 172.28.0.2

  client2:
    build:
      context: ./client
    container_name: client2
    environment:
      CLIENT_ID: "client2"
      MAC_ADDRESS: "AA:BB:CC:00:02"
      CLIENT_IP: "172.28.0.3"
      SERVER_URL: "http://172.28.0.10:8000"
    networks:
      infobez_net:
        ipv4_address: 172.28.0.3

  client3:
    build:
      context: ./client
    container_name: client3
    environment:
      CLIENT_ID: "client3"
      MAC_ADDRESS: "AA:BB:CC:00:03"
      CLIENT_IP: "172.28.0.4"
      SERVER_URL: "http://172.28.0.10:8000"
    networks:
      infobez_net:
        ipv4_address: 172.28.0.4

networks:
  infobez_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.28.0.0/16
